@import url('../global.css');

.input-text {
    display: flex;
    flex-direction: column;
}

.input-text__field {
    font-family: var(--default-font);
    /* border: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 2px; */
    padding: 4px;
    font-size: 14px;
    color: rgb(77, 77, 77);
}