@import url('../global.css');

.textarea {
    display: flex;
    flex-direction: column;
}

.textarea__field {
    font-family: var(--default-font);
    padding: 4px;
    font-size: 14px;
    color: rgb(77, 77, 77);
    height: 120px;
}