@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-font: "Montserrat", serif;
    --primary-color: #DD7D1D;
    --primary-color-hover: #c56e17;
    --secundary-color: #FFFFFF;
}